.cuadro{
    display:fixed;
    width: 33.33%;
    float:left;
    height: 350px;
    overflow: auto;
    border: 1px solid rgb(40,100,200);
}
.cuadro ul li {
    font-size: 0.875em;
    
}
#competencia-menu{
    display: inline-block;
    float:left;
    width: 70%;
}
#empleados-menu{
    
    padding: 45px 0 45px 25px;
    display: inline-block;
    width:30%;
}